@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "List of races";
}

<a asp-controller="Home" asp-action="Menu">Back</a> | <a asp-controller="Info" asp-action="BuildMap">Races on map</a> | <a asp-controller="Info" asp-action="SelectRace">One by one</a>